html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
}

::selection {
    background: #8ee3f5;
    color: #000000;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #00BCD4;
}

/* Header */
header {
    background-color: #f189b5;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
    margin: 0px 30px;
    color: #000000;
}

/* Navitaion */
nav {
    background-color: #f189b5;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0, 0.15);
}

nav a {
    margin: 10px;
    padding: 10px;
    color: #000000;
    border: 2px solid #000000;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

nav a:hover {
    cursor: pointer;
    background-color: #000000;
    color: #f189b5;
}

/* Main */
main {
    min-height: calc(100vh - 200px);
    padding: 30px;
    box-sizing: border-box;
}

/* Homepage (index) */
.blog-list li {
    border-bottom: 1px solid #a8e0ff;
    color: #000000;
    list-style: none;
    padding: 10px;
    font-size: 20px;
}

/* Post */
.post-title {
    text-align: center;
}

.post-author {
    font-style: italic;
    text-align: right;
    font-size: 16px;
}

/* Post Submission */
.post-submissions-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.post-submissions-form input[type=text], 
.post-submissions-form input[type=date],
.post-submissions-form textarea {
    border: 1px solid #8ee3f5;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 500px;
}

.post-submissions-form textarea {
    max-width: 900px;
    min-height: 200px;
}

.post-submissions-form button {
    height: 40px;
    width: 150px;
    background-color: #f189b5;
    color: #000000;
    border: none;
    box-shadow: none;
    font-size: 16px;
}

.pic1{
    width: 50%;
    border: 2px solid #ffffff;
    }
    
/* Footer */
footer {
    height: 50px;
    background-color: #f189b5;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
